 {% extends "base.html" %} {% block css %}
<link rel="stylesheet" href="/static/asset/style.css" type="text/css">
<link rel="stylesheet" href="/static/asset/slide/css/lightslider.css" />
<link rel="stylesheet" href="/static/asset/css/home.css">
<link rel="stylesheet" href="/static/asset/index.css">
<link rel="stylesheet" href="/static/asset/css/transaksi.css">
<link rel="stylesheet" href="/static/asset/css/footable.bootstrap.min.css">
<link rel="stylesheet" href="/static/asset/responsive.css" type="text/css"> {% endblock %} {% block content %} {% load humanize %}

<div class="bg_profile">

    <div id="atas">
        <div>
            <center>
                
                <div class="container" style="margin-top: 0px;">

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="pp_t">
                                {{ objects.full_name|make_list|first|upper }}
                            </div>
                        </div>
                        <div class="col-sm-12 title_profile">
                            <center>
                                <h3><strong>{{ objects.full_name }}</strong></h3>
                            </center>
                        </div>
                        
                        <br>
                    </div>
                    <br>
                       <a href="/logout">
                        <h4>
                            <span class="badge badge-danger">
                                Logout
                            </span>
                        </h4>
                        </a>
                    <br>
                    <br>
                    <br>
                    <br>
                           
                            {%if objects.address == None or objects.phone == None or objects.dob == None %}

                            <div class="col-sm-12 alert_profile">
                                <div class="alert alert-danger alert-dismissible fade show" role="alert" style="padding-left: 50px;">
                                    <b>Hello {{ objects.full_name }}</b><br> Profil Kamu Belum Lengkap , Segera Lengkapi Profil Kamu ! <button id="edit" class="badge badge-warning collapsed disini" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" >
                                  di sini 
                                </button>
                                </div>
                            </div>

                            {%endif%}
                    <div class="card" style="margin-top: 20px;">
                        <div class="card-header text-left">
                            <strong>Dasboard</strong>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="dash_box blue">
                                        <div class="row">
                                            <div class="col-8">
                                                <td>{{ i.aoi }}</td>
                                                <h3 class="pdg10px tot_box">{{objects.get_inves|default_if_none:"0"|intcomma }}</h3>
                                                <p class="tot_box_bottom">Investasi Aktifmu</p>
                                            </div>
                                            <div class="col-4">
                                                <img src="/static/asset/icon/money.svg" class="ico_box_trans">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="dash_box1 blue1">
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="dash_box green">
                                        <div class="row">
                                            <div class="col-8">
                                                <h3 class="pdg10px tot_box">{{ cek_data_inves }}</h3>
                                                <p class="tot_box_bottom">Total Proyek Aktifmu</p>
                                            </div>
                                            <div class="col-4">
                                                <img src="/static/asset/icon/planting.svg" class="ico_box_trans">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="dash_box1 green1">
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="dash_box orange">
                                        <div class="row">
                                            <div class="col-8">
                                                <h3 class="pdg10px tot_box">
                                                {{ objects.get_profit|default_if_none:"0"|intcomma }}</h3>
                                                <p class="tot_box_bottom">Perikiraan Profit Investasimu </p>
                                            </div>
                                            <div class="col-4">
                                                <img src="/static/asset/icon/gardening.svg" class="ico_box_trans">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="dash_box1 orange1">
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="dash_box red">
                                        <div class="row">
                                            <div class="col-8">
                                                <h3 class="pdg10px tot_box">0</h3>
                                                <p class="tot_box_bottom">Dompetmu</p>
                                            </div>
                                            <div class="col-4">
                                                <img src="/static/asset/icon/wallet.svg" class="ico_box_trans">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="dash_box1 red1">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="card" style="margin-top: 20px; border: 0px;">
                        <div class="card-body">
                            <div id="accordion">
                                <div class="card">
                                    <div class="card-header" id="headingOne" style="float: center; background: #fff;">

                                        <center>
                                            <button class="btn btn-success btn_over" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Investasiku <i class="fa fa-exchange" aria-hidden="true"></i>
        </button>
                                            <button class="btn btn-success collapsed btn_over btn_over_left1" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" id="edit2">
          Profileku <i class="fa fa-user" aria-hidden="true"></i>
        </button>
                                            <button class="btn btn-success collapsed btn_over btn_over_left1" data-toggle="collapse" data-target="#collapse" aria-expanded="false" aria-controls="collapseTwo">
          Ganti Password <i class="fa fa-unlock" aria-hidden="true"></i>
        </button>
                                            <button class="btn btn-success collapsed btn_over btn_over_left1" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Ambil Dana <i class="fa fa-money" aria-hidden="true"></i>
        </button>

                                        </center>
                                    </div>

                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                        <div class="card-body" style="text-align: left;">
                                            <div class="row noselect">
                                            {% if data_inves %}
                                                <div class="col-xl-12">
                                                    <p class="h2 text-left clrorange"><b>Investasiku</b></p>
                                                </div>
                                                <br>
                                                <br>
                                                <div class="col-sm-12">
                                                
                                                <table class="table"  data-toggle-column="last" >
                                                    <thead>
                                                        <tr>
                                                            <!--<th data-breakpoints="xs" class="th_res">No</th>-->
                                                            <th class="th_res">Nama Proyek</th>
                                                            <th data-breakpoints="xs sm" class="th_res">Investasi Anda</th>
                                                            <th class="th_res">Status</th>
                                                            <th data-breakpoints="xs" data-title="Aksi" class="th_res">Aksi</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for i in data_inves %}
                                                        <tr>
                                                            <!--<td class="tb_res">{{ forloop.counter }}</td>-->
                                                            <td class="tb_res">{{ i.project.name }}</td>
                                                            <td class="tb_res">{{ i.aoi|intcomma }}</td>
                                                            {% if i.status == False %}
                                                            <td class="tb_res color-red">
                                                                         Belum di transfer
                                                            </td>
                                                            <td class="tb_res">
                                                              <!--
                                                               <a target="_blank" href="https://api.whatsapp.com/send?phone=6283122412167&text=Saya%20Ingin%20Mengkonfirmasi Pembayaran Di Proyek%20{{ i.project.slug }}%20Id%20Transaksi%20{{ i.uniquecode }}">
                                                                <h6>
                                                                    <span class="badge badge-info">
                                                                        Konfirmasi Pembayaran
                                                                    </span>
                                                                </h6>
                                                               </a>
                                                               -->
                                                               <a target="_blank" href="/transaksi/{{ i.uniquecode }}">
                                                                <h6>
                                                                    <span class="badge badge-success">
                                                                        Lakukan Pembayaran
                                                                    </span>
                                                                </h6>
                                                               </a>
                                                            </td>
                                                            {% else %}
                                                            <td class="tb_res color-grenn">
                                                                        Sukses investasi
                                                            </td>
                                                            <td class="lihat_btn tb_res">
                                                                <h6>
                                                                    <span class="badge badge-warning">  
                                                                        Lihat Detail Investasi
                                                                    </span>
                                                                </h6>
                                                            </td>
                                                            
                                                            <td class="tb_res">Rp. {{i.project.finding_needs|intcomma}}</td>
                                                            
                                                            {%endif%}
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                                </div>
                                            {%else%}
                                              <div class="col-sm-12">
                                               <center>
                                                <a href="/#proyek">
                                                <button type="button" class="btn btn-warning btn-lg btn-block"><b>Mulai Investasi Sekarang...</b></button>
                                                </a>
                                               </center>
                                              </div>
                                            {%endif%}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">

                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                        <div class="card-body">
                                            <div class="col-xl-10">
                                                <form action="" method="post" id="updateprofile">
                                                    <p class="h2 text-left clrorange"><b>Profileku</b></p>
                                                    <label class="float_left">Nama Lengkap</label>
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="basic-addon1">
                            <i class="fa fa-user-o" aria-hidden="true"></i>
                        </span>
                                                        </div>
                                                        <input type="text" class="form-control" placeholder="Nama Lengkap" aria-label="Nama Lengkap" aria-describedby="basic-addon1" required value="{{ objects.full_name|default:"" }}" name="full_name">
                                                    </div>

                                                    <label class="float_left">Alamat(Rumah)</label>
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="basic-addon1">
                            <i class="fa fa-user-o" aria-hidden="true"></i>
                        </span>
                                                        </div>
                                                        <input type="text" class="form-control" placeholder="Address" aria-label="Alamat Rumah" aria-describedby="basic-addon1" required value="{{objects.address|default:""}}" name="address">
                                                    </div>

                                                    <label class="float_left">Alamat Email</label>
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="basic-addon1">@
                        </span>
                                                        </div>
                                                        <input type="email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1" value="{{ objects.email|default:"" }}" name="email">
                                                    </div>

                                                    <label class="float_left">No handphone</label>
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="basic-addon1">
                            <i class="fa fa-phone-square" aria-hidden="true"></i>
                        </span>
                                                        </div>
                                                        <input type="text" class="form-control" placeholder="No Hanphone Contoh +628123456789" aria-label="No Hanphone Contoh +628123456789" aria-describedby="basic-addon1" value="{{ objects.phone|default:"" }}" name="phone">
                                                    </div>

                                                    <label class="float_left">Hari Ulang Tahun</label>
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="basic-addon1">
                            <i class="fa fa-birthday-cake" aria-hidden="true"></i>
                        </span>
                                                        </div>
                                                        <input type="date" class="form-control" placeholder="" aria-label="DOB" aria-describedby="basic-addon1" value='{{objects.dob|date:"Y-m-d"|default:""}}' name="dob">
                                                    </div>
                                                    <div id="tmpt_alert"></div>

                                                    <input type="hidden" name="akses" value="updateprofile">
                                                    <button type="submit" class="btn btn-warning" style="width: 100%; color: #fff;" name="btn_save">Simpan Perubahan</button> {% csrf_token %} 
                                                    <div id="loading"></div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">

                                    <div id="collapse" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                        <div class="card-body">
                                            <div class="col-xl-10">
                                                <form method="post" id="gantipass">
                                                    {% csrf_token %}
                                                    <p class="h2 text-left clrorange"><b>Ganti Password</b></p>

                                                    <label class="float_left">Password Lama</label>
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="basic-addon1">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                                                        </div>
                                                        <input type="text" class="form-control" placeholder="Password Lama" aria-label="Password Lama" aria-describedby="basic-addon1" name="old_pass">
                                                    </div>

                                                    <label class="float_left">Password Baru</label>
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="basic-addon1">
                            <i class="fa fa-unlock" aria-hidden="true"></i>
                        </span>
                                                        </div>
                                                        <input type="text" class="form-control" placeholder="Password Lama" aria-label="Password Lama" aria-describedby="basic-addon1" name="new_pass">
                                                    </div>

                                                    <input type="hidden" name="akses" value="gantipass">
                                                    <input type="hidden" name="tmpemail" value="{{ objects.user }}">
                                                    <button type="submit" class="btn btn-warning" style="width: 100%; color: #fff;" name="bpass" id="bpass">Simpan Perubahan</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">

                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                        <div class="card-body" style="text-align: left;">
                                        
                                        {% if data_inves %}
                                            <div class="alert alert-danger" role="alert">
                                                Hallo {{ objects.full_name }}, Kamu Belum Memiliki Proyek Yang Sudah Panen !
                                            </div>
                                        {%else%}
                                            <div class="alert alert-danger" role="alert">
                                                Hallo {{ objects.full_name }}, Kamu Belum Memiliki Proyek Investasi  !
                                            </div>
                                        {%endif%}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- End Panel Row Toggler -->
            </center>

        </div>
    </div>
</div>


{% endblock %} {% block js %}

<script type="text/javascript" src="/static/asset/js/jquery.form.min.js"></script>
<script src="/static/asset/js/footable.min.js"></script>
<script>
    
    $("#edit").click(function() {
    $('html,body').animate({
        scrollTop: $("#edit2").offset().top},
        'slow');
    });
    
    
    jQuery(function($) {
        $('.table').footable();
    });



    //update  Profile
    $(document).ready(function() {
        var options = {
            beforeSubmit: function() {
                $('button[name=btn_save]').html('Loading...');
                $('button[name=btn_save]').prop('disabled', true);
            },
            success: showResponse,
            url: "{% url 'userprofile' %}",
        };

        $('#updateprofile').submit(function() {
            $(this).ajaxSubmit(options);
            return false;
        });
    });

    //ganti password script 
    $(document).ready(function() {
        var options = {
            beforeSubmit: function() {
                $('button[name=bpass]').html('Loading...');
                $('button[name=bpass]').prop('disabled', true);
            },
            success: showResponse,
            url: "{% url 'daftaruser' %}",
        };

        $('#gantipass').submit(function() {
            $(this).ajaxSubmit(options);
            return false;
        });
    });

    function btnDsbl() {
        $('button[name=bpass]').html('Register');
        $('button[name=bpass]').prop('disabled', false);
    }

    function showResponse(responseText, statusText, xhr, $form) {
        if (responseText == 'success') {
            $('button[name=bpass]').html('Done');
            $('button[name=bpass]').prop('disabled', false);
            alert("Anda berhasil update password2")
            window.location.reload()
        } else if (responseText == "berhasilupdate") {
            $('button[name=btn_save]').prop('disabled', false);
            $('button[name=btn_save]').html('Simpan Perubahan');
            $('#tmpt_alert').html('<div class="alert alert-success alert-dismissible fade show" role="alert"><strong>Data Berhasil DiUpdate </strong> <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');
        } else if (responseText == "gagalupdate") {
            $('button[name=btn_save]').prop('disabled', false);
            $('button[name=btn_save]').html('Simpan Perubahan');
            $('#tmpt_alert').html('<div class="alert alert-danger alert-dismissible fade show" role="alert"><strong>Data Gagal DiUpdate </strong> <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');
        } else if (responseText == "passnotmatch") {
            alert("password lama tidak cocok");
            $('button[name=bpass]').prop('disabled', false);
            $('button[name=bpass]').html('Simpan Perubahan');
        } else if (responseText == "passlen") {
            alert("password kependekan");
            $('button[name=bpass]').prop('disabled', false);
            $('button[name=bpass]').html('Simpan Perubahan');
        } else {
            btnDsbl()
            $('#status-p').html('Gagal update password');
            $('button[name=bpass]').prop('disabled', false);
            $('button[name=bpass]').html('Simpan Perubahan');
        }

    }



    $(document).ready(function() {
        $("#content-slider").lightSlider({
            loop: true,
            keyPress: true
        });
        $('#image-gallery').lightSlider({
            gallery: true,
            item: 1,
            thumbItem: 5,
            slideMargin: 0,
            speed: 500,
            auto: false,
            loop: true,
            onSliderLoad: function() {
                $('#image-gallery').removeClass('cS-hidden');
            }
        });
    });
    //function for just number inputan 
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode != 46 && charCode > 31 &&
            (charCode < 48 || charCode > 57))
            return false;
        return true;
    }



    //sparator ribuan
    (function($, undefined) {

        "use strict";

        // When ready.
        $(function() {

            var $form = $("#form");
            var $input = $form.find("input");

            $input.on("keyup", function(event) {


                // When user select text in the document, also abort.
                var selection = window.getSelection().toString();
                if (selection !== '') {
                    return;
                }

                // When the arrow keys are pressed, abort.
                if ($.inArray(event.keyCode, [38, 40, 37, 39]) !== -1) {
                    return;
                }


                var $this = $(this);

                // Get the value.
                var input = $this.val();

                var input = input.replace(/[\D\s\._\-]+/g, "");
                input = input ? parseInt(input, 10) : 0;

                $this.val(function() {
                    return (input === 0) ? "" : input.toLocaleString("id-ID");
                });
            });

            /**
             * ==================================
             * When Form Submitted
             * ==================================
             */
            $form.on("submit", function(event) {

                var $this = $(this);
                var arr = $this.serializeArray();

                for (var i = 0; i < arr.length; i++) {
                    arr[i].value = arr[i].value.replace(/[($)\s\._\-]+/g, ''); // Sanitize the values.
                };

                console.log(arr);

                event.preventDefault();
            });

        });
    })(jQuery);

    //auto give expetasi value
    function HitExpetasi() {
        var a, b;

        a = document.getElementById("inputan_inves").value;
        a = a.replace(/\./g, ''); // convert to number from aung format 
        a = parseInt(a, 10);
        b = parseInt(a, 10);

        a = a * 10 / 100;
        b = b + a;
        //mengembalikan ke format uang lagi 
        b = addCommas(b);

        function addCommas(nStr) {
            nStr += '';
            x = nStr.split('.');
            x1 = x[0];
            x2 = x.length > 1 ? '.' + x[1] : '';
            var rgx = /(\d+)(\d{3})/;
            while (rgx.test(x1)) {
                x1 = x1.replace(rgx, '$1' + '.' + '$2');
            }
            return x1 + x2;
        }
        document.getElementById("output_ex").value = b;
    }
</script>


{% endblock %}